.for-email-login .page-card, .for-forgot .page-card, .for-login .page-card, .for-signup .page-card{
    max-width: 60%;
}

.navbar{
    height: 80px;
    background: linear-gradient(90deg, rgba(65,72,79,1) 95%, rgba(52,58,64,1) 100%);
}

.col-lg-2.layout-side-section {
    height: 100vh;
    background: #393f46;
    padding-top: 20px;
}

[data-page-route=Workspaces] .layout-main .layout-side-section {
    margin-right: 20px;
    padding-top: 0px;
    max-width: 230px;
}

.desk-page {
    padding-top: 20px;
}

.desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected, .standard-sidebar .standard-sidebar-item.selected {
    background-color: #000000;
}

a {
    color: #888888;
}

span.sidebar-item-label {
    font-weight: 700;
}

.standard-sidebar-label {
    color: white;
}

svg.icon.icon-md {
    fill: #d1d1d1;
}

svg.icon.icon-md {
    fill: #d1d1d1;
}

.icon {
    margin-right: 10px;
}

a.desk-sidebar-item.standard-sidebar-item:hover {
    color: #d1d1d1;
    background: black;
}

#navbar-breadcrumbs a {
    color: #d1d1d1;
    font-weight: 700;
}

.layout-main-section-wrapper {
    margin-top: 20px;
}

.for-email-login .page-card-head img, .for-forgot .page-card-head img, .for-login .page-card-head img, .for-signup .page-card-head img {
    max-height: 150px;
}

.page-head .page-head-content {
    height: 60px;
}

.page-head {
    background: #313539;
    margin-bottom: 0;
}

.widget-group-body.grid-col-1 {
    display: list-item;
}

.col-lg-2.layout-side-section {
    padding-top: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.widget.widget-shadow.dashboard-widget-box.heatmap-chart {
    box-shadow: none;
    background: transparent;
    margin-bottom: 60px;
}

h3.ellipsis.title-text {
    color: #878787;
    font-size: 18px;
    align-self: center;
}


.widget.widget-shadow.shortcut-widget-box {
    border-left: 5px #2490ef solid;
    border-radius: 0;
}

[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper, [data-page-route=Workspaces] .layout-main .layout-side-section {
    height: 100%;
    overflow-y: auto;
}

.leave-widget-naufal {
    position: relative;
    top: 259px;
    margin-bottom: -95px;
    background: url(https://i.ibb.co/TwCHkfN/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
}


.leave-table-widget-naufal {
    width: 100%;
    height: 60px;
    color: white;
}

.leave-widget-naufal-title {
    padding-left: 20px;
    font-weight: 800;
    font-size: 18px;
}

.leave-widget-naufal-balance-amount {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}

.leave-widget-naufal-balance-title {
    font-weight: 600;
    text-align: center;
}

.for-email-login .page-card-head img, .for-forgot .page-card-head img, .for-login .page-card-head img, .for-signup .page-card-head img {
    max-height: 200px;
}

i.fa.fa-chevron-circle-down {
    margin-left: 30px;
    color: orange;
}

span.sidebar-item-label {
    color: #888888;
}

.page-head.flex.drop-shadow {
    background-color: blue;
}

.welcome-widget-naufal {
    grid-area: header;
    background: url('https://i.ibb.co/pQ770RC/Group-809.png');
    /* padding-left: 30%; */
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0 0px 0px 0 rgb(0 0 0 / 5%), 0 0px 10px 0 rgb(0 0 0 / 19%); */
    /* padding-top: 15px; */
    padding: 50px;
    padding-right: 50%;
}

h2.welcome-widget-naufal-title {
    font-size: 20px;
    margin-bottom: 5px;
}

body {
    background-color: #f6f7f8;
}

.leave-box-widget-naufal{
    grid-area: leave;
    padding: 50px;
    background: url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?cs=srgb&dl=pexels-pixabay-316093.jpg&fm=jpg);
    background-size: cover;
    border-radius: 20px;
}

.leave-box-table-widget-naufal{
    margin: 0 auto;
}

.leave-box-title-naufal{
    text-align: center;    
    color: white;
}

.leave-box-widget-naufal-balance-amount{
    padding: 10px;    
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.leave-box-widget-naufal-balance-title{
    padding: 10px;
    text-align: center;    
    color: white;
    font-weight: 600;
}

#progress-widget-naufal{
    margin-top: 20px;
    width: 1%;
    height: 10px;
    background-color: #04AA6D;
    border-radius: 20px;
}

.shortcut-widget-naufal {
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

h2.shortcut-widget-naufal-title {
    font-size: 20px;
}

p.shortcut-widget-naufal-desc {
    font-weight: 300;
}

.group-shortcut-widget-naufal {
    grid-area: widget;
    display: grid;
    grid-template-columns: auto auto;
}

.userWidget-naufal{
    grid-area: userWidget;
}

.userWidget-naufal {
    grid-area: userWidget;
    background: white;
    border-radius: 20px;
    padding: 50px;
}

.dashboard-widget-naufal {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        'header header header leave leave leave'
        'userWidget userWidget userWidget widget widget widget'
        'userWidget userWidget userWidget widget widget widget';
    grid-gap: 20px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.container.page-body {
    background: #f3f5f7;
}

.page-head.flex.drop-shadow {
    background-color: #313539;
    padding-top: 40px;
}

.userWidget-image { 
    grid-area: userWidget-header; 
    background-size: cover;
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
}
.userWidget-name { 
    grid-area: userWidget-right;
    font-size: 30px;
    font-weight: 700;
}
.userWidget-email { 
    grid-area: userWidget-main; 
    font-weight: 600;
    color: cornflowerblue;
}
.userWidget-empId { grid-area: userWidget-menu; }
.userWidget-empId2 { 
    grid-area: userWidget-footer; 
    text-align: right;
}
.userWidget-type { grid-area: userWidget-left; }
.userWidget-type2 { 
    grid-area: userWidget-footers; 
    text-align: right;
}

.userWidget-grid-container {
  display: grid;
  grid-template-areas:
    'userWidget-header userWidget-right userWidget-right'
    'userWidget-header userWidget-main userWidget-main'
    'userWidget-menu userWidget-footer userWidget-footer'
    'userWidget-left userWidget-footers userWidget-footers';
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  grid-template-rows: max-content;
    grid-template-columns: min-content;
}

.userWidget-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  
}

    
.for-email-login .page-card-head, .for-forgot .page-card-head, .for-login .page-card-head, .for-signup .page-card-head{
    grid-area: logo;
}

.for-email-login .page-card form, .for-forgot .page-card form, .for-login .page-card form, .for-signup .page-card form{
    grid-area: form;
}

img.img-login {
    grid-area: img;
}

.for-email-login .page-card, .for-forgot .page-card, .for-login .page-card, .for-signup .page-card{
    display: grid;
    grid-template-areas:
        'img img logo logo'
        'img img form form';
    grid-gap: 0px 50px;
}

.login-content.page-card {
    max-width: 60%;
}

.for-signup .page-card{max-width:60%;margin:0 auto;border-radius:var(--border-radius-md);}

.navbar-light {
    border-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #e7e7e7;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    align-self: center;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }